---
import Link from "./ui/link.astro";
---

<div
  class="bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Save time and effort with Pocket Business
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
    mCommerceOS represents a paradigm shift in the way businesses approach mobile operations. As the mCommerce landscape continues to evolve, having a dedicated operating system tailored to the unique needs of businesses will be crucial for staying competitive and providing exceptional customer experiences. With its innovative features and seamless integration capabilities, Pocket Business is set to redefine how businesses operate in the mobile-first era.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Contact Sales</Link>
  </div>
</div>
